body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
   
}

.App-header {
    
}

#list-group-home {
    list-style-type: none;
}

.App-content {
    padding-top: 80px;
    margin-bottom: 200px;
}

.App-footer {
    background-color: white;
    color: black;
    width: 100%;
    padding-top: 0;
}

.nav_link_header {
    text-decoration: none;
}

#title {
    border-bottom: 3px groove;
    font-size: 30px;
}
/* product */

#cardItemProduct {
    
}